#searchContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5em;
}

#fetchImage {
    border-width: 4px;
    border-style:groove;
    border-color: #1C6EA4;
    background-color: grey;
    color: aliceblue;
    width: 5em;
}

body{
    background-color: #ACBAC4;
}